name: CMake Build & Test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:  
    name: build-test
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        build_type: [Debug, Release]
        c_compiler: [cl, clang]
        cpp_compiler: [cl, clang++]
        include:
        - c_compiler: cl
          cpp_compiler: cl
        - c_compiler: clang
          cpp_compiler: clang++
        
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Add MSVC to PATH
      uses: ilammy/msvc-dev-cmd@v1

    - name: Set reusable strings
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Configure CMake
      run: >
        cmake -S ${{ github.workspace }}
        -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}        
    
    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

    - name: Test Core.Math
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest -R ^Core\.Math --build-config ${{ matrix.build_type }}

    - name: Test Core.Templates
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest -R ^Core\.Templates --build-config ${{ matrix.build_type }}

    - name: Test Core.Time
      working-directory: ${{ steps.strings.outputs.build-output-dir }}
      run: ctest -R ^Core\.Time --build-config ${{ matrix.build_type }}
